<li>
  <%= link_to(episode.title, serial_season_episode_path(season.serial, season, episode)) %>
  <%= episode.original_title %>

  <%= button_to("изменить", edit_serial_season_episode_path(season.serial, season, episode), :method => :get) %>
  <%= button_to("удалить", serial_season_episode_path(season.serial, season, episode), :method => :delete) %>
</li>
