<% content_for(:menu) do %>
  <a href="<%= root_path %>">Список всех сериалов</a>
<% end %>

<div class="row">
  <div id="serial_seasons">
    <p><%= @serial.description %></p>

    <h1><%= @serial.title %></h1>
    <h2><%= @serial.original_title %></h2>
  </div>
</div>
