<div id="footer" class="row">
  <div class="onecol">&nbsp</div>
  <div class="eightcol">
    <p>
      Zomber находится в статусе суровой альфы и работает корректно
      только в последних версиях браузеров и на мобильных устройствах
      под управлением iOS и Android. Мы увидели свет благодаря
      поддержке <%= link_to 'Link.kg', 'http://link.kg/' %> - ведущего поставщика компьютеров и
      комплектующих. <%= link_to 'Link.kg', 'http://link.kg/' %> очень крут. Именно он помогает нам
      хранить и быстро отдавать ваши любимые сериалы в самом хорошем качестве.
    </p>
  </div>
  <div class="twocol">
    <a href="http://www.link.kg">
      <%= image_tag 'link.jpg' %>
    </a>
  </div>
  <div class="onecol last">&nbsp</div>
</div>
