<script type="text/javascript"><!--
reformal_wdg_w    = "713";
reformal_wdg_h    = "460";
reformal_wdg_domain    = "zomber";
reformal_wdg_mode    = 5;
reformal_wdg_title   = "zomber.tv";
reformal_wdg_ltitle  = "Есть идеи? Выскажите их!…";
reformal_wdg_lfont   = "Verdana, Geneva, sans-serif";
reformal_wdg_lsize   = "12px";
reformal_wdg_color   = "#0033ff";
reformal_wdg_bcolor  = "#C1CBAE";
reformal_wdg_tcolor  = "#ffffff";
reformal_wdg_align   = "";
reformal_wdg_charset = "utf-8";
reformal_wdg_waction = 0;
reformal_wdg_vcolor  = "#9FCE54";
reformal_wdg_cmline  = "#E2EBD1";
reformal_wdg_glcolor  = "#05698";
reformal_wdg_tbcolor  = "#FFFFFF";
//-->
</script>

<div class="poxupih_center">
  <script type="text/javascript" language="JavaScript" src="http://widget.reformal.ru/tabn3v4.js"></script>
  <div class="drsdtf">
    на платформе <a href="http://reformal.ru" target="_blank" title="Reformal.ru">Reformal.ru</a>
  </div>
</div>
