<p>Аллоха <%= @resource.name %>!</p>

<p>Вы приглашены на <%= link_to 'zomber.tv', root_url %>. Для того чтобы
  зарегистрироваться и смотреть клевые сериалы Вам необходимо пройти
  по ссылке:</p>

<p><%= link_to 'Регистрация по приглашению', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p>Если Вам это не нужно, просто проигнорируйте и идите качать на
  торрент. Спасибо.</p>
