<p>Привет <%= @user.name %>!</p>

<p>Мы не можем восстановить ваш старый пароль, но мы можем разрешить
  вам <%= link_to('задать новый пароль', edit_password_url(@user, :reset_password_token => @user.reset_password_token)) %></p>
